.Build/
Build/phpunit/.phpunit.result.cache
Build/testing-docker/.env
Build/testing-docker/docker-compose.yml
var/
composer.lock
.php-cs-fixer.cache
.env
config
.idea
.cache
composer.json.orig
composer.json.testing
Build/acceptance_tests/composer.json
Build/acceptance_tests/composer.lock
Build/acceptance_tests/vendor
Build/acceptance_tests/b13-container
Build/acceptance_tests/public