services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  B13\Container\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'
      - '../Classes/Backend/Grid/*'
      - '../Classes/Integrity/Error/*'
      - '../Classes/Tca/ContainerConfiguration.php'
      - '../Classes/**/Exception.php'


  B13\Container\DataProcessing\ContainerProcessor:
    tags:
      - { name: 'data.processor', identifier: 'container' }