<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
    xmlns:container="http://typo3.org/ns/B13/Container/ViewHelpers" data-namespace-typo3-fluid="true"
>

<container:templateVariables uid="{uid}">
    <f:if condition="{grid}">
        <table style="width: 100%">
            <f:for each="{grid}" as="row">
                <tr>
                    <f:for each="{row}" as="column">
                        <td{f:if(condition:"{column.colspan}", then: ' colspan="{column.colspan}"')}>

                        <container:drawChilds uid="{uid}" colPos="{column.colPos}"  />

                        </td>
                    </f:for>
                </tr>
            </f:for>
        </table>

    </f:if>
</container:templateVariables>

</html>
