name: CI

on:
  push:
  pull_request:
  schedule:
    - cron:  '56 5 * * *'

jobs:

  testsuite:
    name: all tests
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php: [ '8.1', '8.2', '8.3']
        TYPO3: [ '12' ]
        include:
          - TYPO3: '13'
            php: '8.2'
          - TYPO3: '13'
            php: '8.3'
          - TYPO3: '14'
            php: '8.2'
          - TYPO3: '14'
            php: '8.3'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install testing system
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -t ${{ matrix.TYPO3 }} -s composerInstall

      - name: Acceptance Tests 14
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -t ${{ matrix.TYPO3 }} -s acceptance -- --fail-fast --skip-group=content_defender
        if: matrix.TYPO3 == '14'
      - name: Archive acceptance tests results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: acceptance-test-reports-${{ matrix.php }}-${{ matrix.TYPO3 }}
          path: .Build/Web/typo3temp/var/tests/_output

      - name: Archive composer.lock
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: composer.lock-${{ matrix.php }}-${{ matrix.TYPO3 }}
          path: composer.lock
