name: CI

# thanks go to derhansen for demo extension https://github.com/derhansen/gha_demo
# and blog https://www.derhansen.de/2020/05/typo3-extension-testing-with-github-actions.html


on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # TYPO3 Testing Framework fails with phpunit 9 ("class \Text_Template" gots "final")
      - uses: actions/checkout@master
      - uses: nanasess/setup-php@master
        with:
          php-version: '5.6'

      # composer
      - name: Update Composer
        run: |
          sudo composer self-update
          composer --version
      # Directory permissions for .composer are wrong, so we remove the complete directory
      # https://github.com/actions/virtual-environments/issues/824
      - name: Delete .composer directory
        run: sudo rm -rf ~/.composer
      - name: Validate composer.json and composer.lock
        run: composer validate
      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: dependencies-composer-${{ hashFiles('composer.json') }}

      - name: Install composer dependencies
        run: composer install --no-progress


        # unit tests
      - name: Unit Tests
        run: .Build/bin/phpunit -c .Build/vendor/typo3/cms/typo3/sysext/core/Build/UnitTests.xml Tests/Unit/

        # start db
      - name: Start MySQL
        run: sudo /etc/init.d/mysql start

      - name: Initialize TYPO3 environment
        run: cp Build/envs/.env.github .env

      # functional tests
      - name: Functional Tests
        run: .Build/bin/phpunit -c .Build/vendor/typo3/cms/typo3/sysext/core/Build/FunctionalTests.xml Tests/Functional

